/* Downloaded Fonts */
@font-face{
    font-family: 'BerkshireSwash-Regular';
    src: url('../fonts/BerkshireSwash-Regular.ttf');
}
@font-face {
    font-family: 'Agrandir-WideLight';
    src: url('../fonts/Agrandir/Agrandir-WideLight.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Agrandir-WideLight' !important;
}
/* Preloader */
.preloader{
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's on top */
}
.gif{
    width: 250px;
    height: 250px;
}
.carousel-item {
    min-height: 100vh;
}

.food-item {
    font-size: 1.2rem;
    margin: 15px 0;
    opacity: 0; 
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.firstpage {
    background-color: black;
}
.context{
    font-size: 16px;
    font-family: 'BerkshireSwash-Regular' !important;
}
.secondpage{
    background-image: url(../img/back-img.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.main-heading{
  color: #FDAE39;
  font-family: 'BerkshireSwash-Regular' !important;
  font-weight: 400;
  font-size: 2.3rem;
}

.heading{
    font-family: "BerkshireSwash-Regular" !important;
    font-weight: 100;
    font-style: normal;
    font-size: 5.5rem;
    /* text-decoration: line-through black; */
}
.small-heading{ 
    top: 17px;
    left: 43.5%;
    font-size: x-large;
}
.food-heading{
    font-family: "BerkshireSwash-Regular" !important;
}
